<!DOCTYPE html>
<html>
<head>
  <title>CommissionMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%unless @sessions_index == true%>
   <%=render "/partials/sessions_header"%>
  <%end%>
  <%unless @users_index == true%>
   <%=render "/partials/users_header"%>
  <%end%>
    <%= yield %>
</body>
<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>
</html>
